body {
  background: black;
}
#header h1 {
  display: inline;
  color: white;
}
#header dashboard-connection {
  float: right;
}
dashboard-temperature {
  display: block;
  background: white;
}
dashboard-logger {
  display: block;
  width: 100%;
}
