body {
  background: black;
}
#header h1 {
  display: inline;
  color: white;
}
#header dashboard-connection {
  float: right;
}
#content {
  clear: both;
}
.sensor {
  float: left;
  background: #222;
  width: 600px;
  height: 300px;
  margin: 1em;
  padding: 1em;
  border: 1px outset #ccc;
}
dashboard-temperature {
  display: block;
  background: white;
}
dashboard-logger {
  display: block;
  width: 100%;
  position: relative;
}
dashboard-logger input {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
}
dashboard-logger div {
  background-color: #555555;
  height: 300px;
  overflow: auto;
  font-family: monospace;
  font-size: 10px;
  color: wheat;
}
